h2 {
    color:gray;
}

/* CSS É EFEITO CASCATA! O que está embaixo PREVALECE.
Apertar botao direito do muse na pág, inspecionar.
*/

h2 {
    color:indigo;
}



#titulo {
    color:aqua;
    font-size: 55px;
}

#paragrafo {
    color:chartreuse;
    font-size: 40px;
    font-weight: bold;
}

#botao {
    color:darkred;
}

/* "font-weight" é a grossura da letra.
   "bold" é para deixar a palavra em negrito.
   Para avisar o CSS que usarei a ID, devo colocar "# {}"
*/

.texto, p {
    color:red;
    font-weight: bold;
}

.botao {
    background: yellow;
}

/* Para avisar o CSS que usarei a CLASS, devo colocar ". {}"
OUTRA OPÇÃO É POR "," */






* {
    background: blueviolet;
}


h1 {
    color:yellow;
    background-color: black; 
}


p  {
    color: blueviolet;
    font-size: 20px;
}

button {
    background: green;
    border-color: black;
}

/* TAG 'body' é a parte visivel do site, TAG 'head' é as configurações do site, não são visíveis no site
o que esta abaixo, dentro da TAG "head" para unir as informações do HTML ao CSS.
link   
rel= - relacionamento.
stylesheet - folha de estulo.
href= - a onde esta esse arquivo. ./ dps coloca a estenção e fecha >

SE A APLICAÇÃO FOR PEQUENA, FAZER MODELO 1, SE FOR FRANDE, FAZER MODELO 2.

/









