.box {
    background: #ff00ff;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.box-2{

    background: #ffff00;
    height: 50px;
    width: 50px;
}

.box-3 {
    background: #007756;
    height: 50px;
    width: 50px;

}




/*  

DISPLAY (Padão)

--> BLOCK

...Vem como padão: div, section, p, h1, h2, ul, li, article...

...- Ocupa 100% da largura do elemento pai
...- Sempre ocupa toda a sua linha 
...- ALTURA DEFINIDA DE ACORDO COM O CONTEÚDO
...- Podemos definir height e widht
...- Podemos definir valores de margin

--> INLINE (display em linha)

...- Vem como padrão a, span, b, i...

...- E lementos de linha
...- Não permite alterar height e widht
...- Não podemos definir valores de margin top e bottom
...- Ganha comportamento de uma palavra

--> INLINE-BLOCK

...- Elementos em linha, porém com características do display Block
...- Altura e largura podem ser alteradas

--> GRID
--> FLEX









*/


















