/* Padding é quando vc quer expandir um elemento. 
   Margin é a margem, ela abre um expaçamento externo.

   ATALHOS...
   Essas expansões vão para os 4 lados...
Padding ou Margin-top = expanção apenas do lado de CIMA.
Padding ou Margin-bottom = expanção apenas do lado de BAIXO.
Padding ou Margin-right = expanção apenas do lado DIREITO.
Padding ou Margin-left = expanção apenas do lado ESQUEDO.

OU...
Padding ou Margin: 10px 50px 30px 5px
                   12h  15h  18h  21h
                   Ele segue uma sequencia.
                   
Padding ou Margin: 10px 50px 30px...
QUANDO COLOCADO APENAS 3 VALORES, ELE ENTENDE QUE OS VALORES DIREITO
E ESQUEDO SÃO OS MESMOS.

Padding ou Margin: 10px 50px...
QUANDO COLOCADO APENAS 2 VALORES, ELE ENTENDE QUE OS VALORES DIREITO
E ESQUEDO SÃO OS MESMOS, EM CIMA EM EMBAIXO TAMBÉM SÃO OS MESMOS.
   */

.box {
       width: 50px;
       height: 50px;
       background: #FF1493;
       padding: 100px;
}

.box-2 {
       width: 50px;
       height: 50px;
       background: #9932CC;
       margin: 50px;
       padding: 30px;
}





















