* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    }

.container {
    height: calc(100vh - 200px);
    width: calc((50vw + 200px) / 2);
    background: red;

    /*  height: 100px;
        width: 100px;
        background: red;
        ((xxxx) /x) "/" é "DIVIDIDO/DIVISÃO.
        o "x" é 'vezes'
        */
}

.container-left {
    height: calc(10vh + 80px);
    width: calc((30vw + 5px) / 2);
    background: blue;
}