* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* li:first-child {
    color: #FF0F0F;
}

li:last-child {
    color: #F00FF0;
} */

/* span:first-of-type {
    color: blue;
}

p:first-of-type {
    color: blueviolet;
} */

/* .container :not(.excluido) {
    color: blue;
} */

/* li:nth-child(4) {
    color: green;
} */

li:nth-last-child(1) {
    color: green;
}
